*/5 * * * * /usr/local/bin/getri.sh
*/5 * * * * /usr/local/bin/get_skiing.sh
*/5 * * * * /usr/local/bin/get_artgallery.sh
*/5 * * * * /usr/local/bin/get_dogsledding.sh
*/5 * * * * /usr/local/bin/get_flyfishing.sh
*/5 * * * * /usr/local/bin/get_foodtour.sh
*/5 * * * * /usr/local/bin/get_hiking.sh
*/5 * * * * /usr/local/bin/get_iceskating.sh
*/5 * * * * /usr/local/bin/get_skeetshooting.sh
*/5 * * * * /usr/local/bin/get_snowboarding.sh
*/5 * * * * /usr/local/bin/get_snowshoeing.sh
*/5 * * * * /usr/local/bin/get_spa.sh
*/5 * * * * /usr/local/bin/get_main.sh
*/5 * * * * /usr/local/bin/get_error.sh
*/5 * * * * /usr/local/bin/get_holiday.sh