.report-menu {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.tile {
  text-decoration: none;
  margin: 2.5%;
  width: 20%;
  min-width: 200px;
  min-height: 200px;
  border: solid 1px #040b6c;
  color: #040b6c;
}
.tile p {
 color: #090909;
 font-size: .9em;
}

.tile h3 {
  font-weight: 300;
}

.report-menu ul li a {
  border: solid 1px #040b6c;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 10px;
  color: #040b6c;
  text-decoration: none;
}

.report-menu ul li a:hover {
  background: #e6e8ff;
}