.report-table {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse: collapse;
}

.report-table tr:first-of-type {
  font-weight: 600;
  background-color: #343eb7;
  color: #fff;
}

td {
  width:1%;
  white-space:nowrap;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #e6e8ff;
}

.report-table tr:last-child {
  border-bottom: solid 1px #040b6c;
}