files:
  "/etc/httpd/conf.d/allow_override.conf":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    encoding: plain
    content: |
      <Directory /var/www/html/>
          Options Indexes FollowSymLinks
          AllowOverride All
          Require all granted
      </Directory>
      <Directory /var/app/current/>
          Options Indexes FollowSymLinks
          AllowOverride All
          Require all granted
      </Directory>