files:
    "/etc/crontab":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * /var/app/current/cronjob/getri.sh
            */5 * * * * /var/app/current/cronjob/get_skiing.sh
            */5 * * * * /var/app/current/cronjob/get_artgallery.sh
            */5 * * * * /var/app/current/cronjob/get_dogsledding.sh
            */5 * * * * /var/app/current/cronjob/get_flyfishing.sh
            */5 * * * * /var/app/current/cronjob/get_foodtour.sh
            */5 * * * * /var/app/current/cronjob/get_hiking.sh
            */5 * * * * /var/app/current/cronjob/get_iceskating.sh
            */5 * * * * /var/app/current/cronjob/get_skeetshooting.sh
            */5 * * * * /var/app/current/cronjob/get_snowboarding.sh
            */5 * * * * /var/app/current/cronjob/get_snowshoeing.sh
            */5 * * * * /var/app/current/cronjob/get_spa.sh
            */5 * * * * /var/app/current/cronjob/get_main.sh
            */5 * * * * /var/app/current/cronjob/get_error.sh
            */5 * * * * /var/app/current/cronjob/get_holiday.sh
commands:
    create_reports_dir:
        command: "mkdir /var/app/current/reports"
        ignoreErrors: true
